* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: lightgreen;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

article {
	margin-top: 2rem;
	background: lightgray;
	width: 40rem;
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

h1 {
	margin-top: 2rem;
	text-transform: capitalize;
	font-family: arial;
	font-size: 2rem;
	letter-spacing: 0.2rem;
}

article > img {
	border-radius: 50%;
	width: 11rem;
	height: 10.4rem;
	margin-top: 1.5rem;
	
}

.person-info {
	text-align: center;
	margin: 1rem auto;
}

.name {
	font-size: 1.7rem;
	font-family: arial;
	text-transform: capitalize;
}

.job {
	font-size: 1rem;
	text-transform: uppercase;
	font-family: arial;
	color: darkorange;
}

.text {
	width: 65%;
	height: 6rem;
	font-size: 1rem;
	margin: 1.2rem auto 0 auto;	
	line-height: 1.6rem;
}


button {
	font-size: 2rem;
	border: none;
	background: none;
	cursor: pointer;
}

button:hover {
	opacity: 0.5;
}

article:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 41rem;
	height: 31rem;
	filter: brightness(1.02);
	margin-top: 1.5rem;
}

.random-person {
	margin-top: 0.3rem;
	background: lightblue;
	font-size: 1.3rem;
	border: 0.2px solid;
}

.random-person:hover {
	opacity: 0.8;
	color: red;
	border: none;

}

